"*":
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    general:
      _analyticsUserId: "a97abbfc-6ff2-4455-8d78-798944b5ce25"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "command-executor":
    "pane-item-position": "down"
  core:
    disabledPackages: [
      "terminal-panel"
      "language-assembly"
      "autocomplete-java"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 19
    invisibles: {}
    softWrap: true
    softWrapHangingIndent: 1
    tabLength: 4
  "exception-reporting":
    userId: "76224680-6b80-4465-1ef9-77cf1d775418"
  latex: {}
  latexer: {}
  "one-dark-ui": {}
  "open-terminal-here": {}
  pigments:
    ignoredBufferNames: [
      "*.asm"
    ]
  "run-command2": {}
  "terminal-panel": {}
  welcome:
    showOnStartup: false
".bat.source":
  editor:
    softWrapHangingIndent: 1
    tabLength: 4
".beamer.latex.tex.text":
  editor:
    softWrapHangingIndent: 1
".bibtex.text":
  editor:
    softWrapHangingIndent: 1
".latex.log.text":
  editor:
    softWrapHangingIndent: 1
".latex.memoir.tex.text":
  editor:
    softWrapHangingIndent: 1
".latex.tex.text":
  editor:
    softWrapHangingIndent: 1
".mips.source":
  editor:
    softWrapHangingIndent: 1
    tabLength: 4
".tex.text":
  editor:
    softWrapHangingIndent: 1
