packages: [
  "activate-power-mode"
  "atom-beautify"
  "atom-ide-ui"
  "autocomplete-java"
  "copy-as-rtf"
  "file-icons"
  "ide-python"
  "language-assembly"
  "language-batch"
  "language-latex"
  "language-mips"
  "language-promela"
  "language-vhdl"
  "latex"
  "latexer"
  "monokai"
  "open-terminal-here"
  "package-sync"
  "pdf-view"
  "pigments"
  "run-command2"
  "seti-syntax"
  "seti-ui"
  "sysj"
  "terminal-panel"
]
